[2019-09-03 13:22] codito opened #2 "Transfer to spekt"
@Siphonophora deleted the fork, we can try transferring this repo to `spekt` now.

[2019-09-03 14:05] Siphonophora commented on #2
@codito It just said I don't have the ability to create repos in spekt.

[2019-09-03 14:18] codito commented on #2
oh, would you mind adding me as a collaborator to this repo?

[2019-09-03 14:25] codito commented on #2
Invited you to join spekt, hopefully that would give you permissions to create repo.

[2019-09-03 14:48] Siphonophora commented on #2
Added you as a collaborator, still can't create a repo in spekt

[2019-09-03 17:05] Siphonophora commented on #2
@codito  Turns out I could request to transfer to you directly, even though I can't make it in spekt.

[2019-09-03 19:00] Siphonophora commented on #2
Ok, actually accepting the invite fixed this.

[2019-09-03 19:04] Siphonophora commented on #2
@codito  Looks like the last thing to do is setup my privileges and put back the topic links.

[2019-09-04 00:09] codito commented on #2
@Siphonophora updated topics and added you as a maintainer for the repo.

[2019-09-04 00:14] codito opened #3 "Add CircleCI to this repo"
Would be a nice way to ~dogfood~ validate the junit logger on itself! :)

[2019-09-04 20:58] Siphonophora commented on #3
Ha, sounds good. I'm wiring up the pre-release package to some repositories at work and will see if I have any issues. I haven't used circle Ci, but can give that a shot when I have some time.

[2019-09-04 23:10] Siphonophora opened #4 "Test Fixture Tests are not logged"
Looks like this is the same root cause as https://github.com/spekt/nunit.testlogger/issues/44

TestResultEventArgs.Result.TestCaseFullyQualifiedName produced by a test with TestFixtureData looks like this:

[code]

TryParseName returns false in these cases, and the tests aren't logged.

[2019-09-05 00:50] #2 closed

[2019-09-05 16:12] #4 closed

[2019-09-05 19:22] Siphonophora opened #6 "AppVeyor build not running"
Are we missing some config, since I transferred this repo over? The Travis build happened right after I merged a PR, but AppVeyor hasn't done anything in the last couple hours.

[2019-09-06 13:48] #6 closed

[2019-09-06 13:57] codito commented on #6
I had to delete the appveyor config and add it again. Works great now.

[2019-09-25 01:43] Siphonophora commented on #3
@codito Since CircleCI is running in a linux container, It can't build the Net Framework project as part of building the acceptance testing project. This pipeline is a mess from trying to figure this out, but the issue is clear: https://circleci.com/gh/Siphonophora/junit.testlogger/12 I'd rather not change anything else about the acceptance testing proj just for this.

I have tested the pre releas

[2019-09-25 12:48] codito commented on #3
@Siphonophora sounds great to me. One last todo :) Would you mind adding your nuget.org alias as owner to https://github.com/spekt/junit.testlogger/blob/master/src/package/JUnitXml.TestLogger.nuspec? I will push the next successful appveyor build to nuget.

I think circleci may work if we install mono similar to the travisci build. This doesn't block the nuget release.

Thanks for testing and the

[2019-09-25 16:17] Siphonophora commented on #3
@codito All set. By the way the Travis CI build is acting like its broken

[2019-09-26 00:40] codito commented on #3
:fireworks: https://www.nuget.org/packages/JUnitXml.TestLogger

Master build for travis ci seems to succeed. Please share the failed build link, I will take a look.
https://travis-ci.com/spekt/junit.testlogger

[2019-09-26 01:55] Siphonophora commented on #3
This is what I meant.
![image](https://user-images.githubusercontent.com/32316111/65652233-171d2d80-dfdf-11e9-817f-1c3e3b0ffe64.png)

[2019-09-26 02:31] Siphonophora commented on #3
By the way, do I need to do something else to show up on the owner's list on the Nuget page?

In terms of next steps, I was going to see if I can get this added to docs for vstest, GitLab and CircleCI. Is there anything else that makes sense to try for?

[2019-09-26 14:01] codito commented on #3
It's weird that nuget is not showing you as an owner. We used the same `publish to nuget via myget` mechanism used for other packages in spekt org. Have added your alias manually in nuget.org.

Fixed the appveyor build badge and nuget badge in readme. Good catch, missed correcting this when the forked repo was removed :-/

Absolutely makes sense to add in the docs for the CI systems. Here's the vs

[2019-09-28 19:45] Siphonophora commented on #3
Figured out the nuget thing. I needed to agree to be listed as an owner, and had just missed the email from nuget about that.

[2019-10-01 09:43] lxalln opened #11 "Length cannot be less than zero"
I am getting an exception when using this logger.
My tests are written in xUnit, my command looks like:

`dotnet test tests/UnitTests --logger:"junit;LogFilePath=..\UnitTests.xml;MethodFormat=Class;FailureBodyFormat=Verbose" --test-adapter-path:.`

I am getting the following error:

[code]

![image](https://user-images.githubusercontent.com/2781908/65951523-1ef22d00-e438-11e9-990c-49974f6d42a5.png

[2019-10-01 12:27] codito commented on #11
@lxalln thanks for reporting the issue. Can you run `dotnet test tests/UnitTests --logger:"junit;LogFilePath=..\UnitTests.xml;MethodFormat=Class;FailureBodyFormat=Verbose" --test-adapter-path:. --diag:log.txt` and share the `log*.txt` file.

Kindly review the `log*.txt` files to remove any secrets etc. before sharing.

[2019-10-01 13:33] lxalln commented on #11
Before uploading the files (because they are large), here is where the exception is being thrown.

[code]

I have taken a look in the `CreateTestCaseElement` method, and don't see any calls to `String.Substring`

Happy to upload the files if they will add context.

[2019-10-01 13:57] codito commented on #11
Is it possible to share FullyQualifiedName of test method? ~Which test framework are you using?~ I see you mentioned xUnit above.

[2019-10-01 13:59] lxalln commented on #11
I'm using nested classes, which do produce a 'different' FQN:

Example: `UnitTests.Domain.Orders.Checkout.CreateCheckoutOrderTests+TheHandler.RebuildsManifestIfAnyPromotionHasLimitedUse`

Note the `+` where the nested class is output.

[2019-10-01 14:36] codito commented on #11
The issue repros with any xUnit test. I tried with `dotnet new xunit`.

Unfortunately the information provided by xUnit and NUnit adapters are different. This logger understands NUnit outputs. We may need to add support for xUnit.

[2019-10-01 14:37] codito commented on #11
As a workaround please consider https://github.com/spekt/xunit.testlogger with https://github.com/gabrielweyer/xunit-to-junit

[2019-10-01 14:49] lxalln commented on #11
That makes sense then. I didn't see any mention of xUnit restrictions, but that's probably because I didn't read far enough.

I'll take a look at the workaround.

[2019-10-02 01:44] Siphonophora commented on #11
@lxalln Thanks again for reporting this. This project was just released so I appreciate you taking a look. I looked into it and believe this is resolved in the [current pre-release package](https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger). What I was able to confirm was that the pre-release does work without issue for the 'dotnet new xunit' project, and the FQN you provided abov

[2019-10-02 02:14] codito commented on #11
@Siphonophora awesome, thanks for debugging. Will wait for @lxalln to confirm and we can push the pre-release to nuget.

The differences in xunit and nunit adapters mentioned above are special outputs like [this](https://github.com/spekt/xunit.testlogger/blob/master/src/Xunit.Xml.TestLogger/XunitXmlTestLogger.cs#L279). I think we should create an abstraction to handle these adapter specific nuance

[2019-10-02 02:17] codito commented on #11
Created https://github.com/spekt/testlogger for the common library.

[2019-10-02 09:53] lxalln commented on #11
@Siphonophora @codito I have tried using the pre-release package, and it works correctly! Thanks.

Also to note, the workaround worked too.

I'll wait for this to hit nuget, then will change over. Thanks for the quick turn-around guys :)

[2019-10-02 10:05] codito commented on #11
@lxalln thank you for confirmation. Pushed to nuget: https://www.nuget.org/packages/JunitXml.TestLogger/2.1.15

[2019-10-02 10:05] #11 closed

[2019-11-21 08:12] williamdenton opened #12 "Skipped tests are classified as passed"
there is no special handling for `Outcome.Skipped` so skipped tests appear as successful in xml output.

They need a `<skipped/>` element so tools like jenkins can recognise and classify the tests appropriately

https://github.com/spekt/junit.testlogger/blob/23bbc8f2df7c859ad255678d69d47bb355d8deff/src/JUnit.Xml.TestLogger/JUnitXmlTestLogger.cs#L436-L456

[2019-11-21 08:19] williamdenton commented on #12
closest i could find to a spec for junit output for a test case:

https://github.com/behave/behave/blob/85bca4533ae4fb0cb27b65d04c5dd50355210395/etc/junit.xml/junit-4.xsd#L38-L53

[code]

[2019-11-21 08:48] williamdenton commented on #12
for now im using https://github.com/spekt/xunit.testlogger with `vstest` then using https://github.com/gabrielweyer/xunit-to-junit to convert xunit to junit. This gives ideal output in jenkins, with nice test names and skipped results

[2019-11-27 15:44] Siphonophora commented on #12
@williamdenton Thanks. I will take a look. I couldn't find a spec that included skipped, which is why I grouped skipped under passed.

[2019-11-28 17:54] Siphonophora opened #13 "Syncromatics JUnitTestLogger"
@codito Not sure if you have seen https://github.com/syncromatics/JUnitTestLogger its an older port of the xunit logger. I had not seen it before about a week ago when I got asked about the differences between that logger and this one by the gitlab team.

I noticed that #12 was opened there as well, and that they have several issues open which have been resolved in this logger. It doesn't look to

[2019-12-02 13:34] dojo90 opened #14 "No test logging was found with AssemblyQualifiedName, URI, or FriendlyName "junit"."
I always get the following error:

`dotnet test --no-build -c Release -v n myProject.test.csproj --test-adapter-path:. --logger:"junit;LogFilePath=foo.xml"`

Can anybody give me a hint whats wrong?

[2019-12-03 01:08] Siphonophora commented on #14
@dojo90 Sure thing. One item to confirm is that you have the nuget package Microsoft.NET.Test.Sdk installed. Assuming you do, I would guess the logger isn't being copied into the release folder. I have seen some variation between .Net core / framework in this respect. What type of project are you testing?

[2019-12-03 08:07] boexler commented on #14
After complete cleanup of solution/build server and reinstalling of the nuget package. Everything is now working as expected. I cannot reproduce the error. So don't know what was wrong..

[code]

[2019-12-03 08:07] #14 closed

[2019-12-03 08:41] dojo90 opened #15 "wrong amount of tests in gitlab"
After I integrated the library, I noticed the following oddities:

I get only 2 tests displayed instead of 13.

If I use the default `--logger "trx;LogFileName=testreport.trx" statement and convert the result with `trx2junit` (https://github.com/gfoidl/trx2junit) I get the correct result shown in gitlab.

# junit.testlogger
## gitlab pipeline

![grafik](https://user-images.githubusercontent.com/17

[2019-12-03 15:56] Siphonophora commented on #15
@dojo90 Take a look at this issue which I opened with GitLab. Their junit xml parser seems to de-duplicate test results that are similar / identical. Not sure why they would do that, but I think that is what is happening here.

https://gitlab.com/gitlab-org/gitlab/issues/31975

That said, where is the test data portion of the class name in the TRX file coming from? Is it from an xunit data fixture

[2020-01-24 02:00] AnashOommen opened #16 "time field is rendered incorrectly."
The ```time``` field is rendered as a ```float```, whereas it should be an ```xs:decimal``` per the JUnit schema. I have, for instance, a test that gets rendered like this:

[code]
See the schema for more details.

https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd#L128

[2020-01-24 02:05] AnashOommen opened #17 "timestamp field is rendered incorrectly"
The timestamp field is rendered like this:

```timestamp="2020-01-24T 01:21:18Z"```

whereas it should be like this:
```2008-01-24T01:21:18```

See the schema for more details.

https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd#L13

Rendering the timestamp like

```DateTime.UtcNow.ToString("s")```

Should give this formatting.

[2020-01-24 02:13] AnashOommen opened #18 "Save the XML without BOM mark"
Currently, the tool generates the xml as utf-8 encoded with BOM mark. Can we do the following?

1. Encode without a BOM mark. You can pass a ``UTFEncoding(false)`` to the ```XmlTextWriter``` constructor to achieve this.  https://stackoverflow.com/questions/4942825/xdocument-saving-xml-to-file-without-bom?answertab=votes#tab-top

2. Provide a flag to control this behaviour if this is a breaking cha

[2020-01-24 02:30] AnashOommen opened #19 "Clarify the requirements for contributing to this project..."
Can someone add a CONTRIBUTING.md to this project to clarify how to contribute to this project? I can't tell for instance if I need to sign a CLA (I'm fairly sure it doesn't, but it's nice to know for reference of a reader.).

[2020-01-25 14:26] Siphonophora commented on #19
@AnashOommen Hi, no you don't need to sign anything to contribute.

[2020-01-25 14:41] Siphonophora commented on #18
@AnashOommen Thanks for pointing this out. For this issue as well as #16 and #17 could you share what you are using to read the xml output? My testing of this library has focused on making sure GitLab is able to parse the files. Best I can tell, it doesn't actually care about the time or date, which may be why this hasn't been an issue so far. I haven't had a chance to test directly with CircleCI

[2020-01-25 17:56] AnashOommen commented on #18
I’m using this against an internal linux-based CI/CD system that expects JUnit-compatible xml output from the tests. I don’t know more details right now.

I strongly suspect it is validating the generated xml against the xsd I linked in one of the bugs, which is why it is failing in my case whereas passes in GitLab. utf-8 with bom encoding is typically the windows way of encoding files, parsers fo

[2020-01-27 16:36] Siphonophora commented on #18
@AnashOommen That make sense. An example wouldn't hurt if you have one.

[2020-02-12 13:16] codito commented on #18
I'm wondering if we should make simple `utf-8` _without_ BOM the default format. Unicode spec doesn't recommend BOM. Is there a scenario which would break if we do this?

This stackoverflow question covers some pros/cons of utf-8 with/without BOM: https://stackoverflow.com/a/2223926

[2020-02-12 23:30] Siphonophora commented on #18
For gitlab at least, standard UTF8 isn't a problem. It does seem likely its a safe standard option, I was just being conservative about changing the output.

That said, there was an issue in one of the other loggers requesting a changelog. Seems worth creating one just in case if we change it.

[2020-02-13 14:48] codito commented on #18
+1 to Changelog. Let's provide BOM as an option if anyone would like the old behavior. Like previous releases, we can do a myget release and wait for a few days to see if anything breaks prior to nuget release.

[2020-02-15 21:30] Siphonophora commented on #12
@williamdenton Apologies for the delay. The new [pre-release package](https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger) includes a resolution for this issue. If you have time to take a look and provide feedback, that would be great.

[2020-02-15 21:32] Siphonophora commented on #18
@AnashOommen We decided to switch to plain UTF-8 as the default.

The new [pre-release package](https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger) includes a resolution for this issue, along with #16, #17. If you have time to take a look and provide feedback, that would be great.

[2020-02-15 21:39] AnashOommen commented on #18
Sure, I'll try sometime this week.

On Sat, Feb 15, 2020, 4:32 PM Michael J Conrad <notifications@github.com>
wrote:

[2020-03-30 21:56] Siphonophora commented on #18
@AnashOommen did you ever get a chance to try this? Thanks

[2020-04-17 08:25] williamdenton commented on #12
Hi @Siphonophora , ive just come round to modifying my CI pipeline again and pulled in your package from myget. Works well! Thank you!

Is this in master/nuget yet? (it took me a long time to try it out)

Greatly appreciate you fixing this 👍

[2020-04-19 18:15] Siphonophora commented on #12
@williamdenton I'm glad its work. Its not on nuget yet. @codito Can we go ahead and push the current version to nuget?

[2020-04-20 01:58] codito commented on #12
@Siphonophora @williamdenton Done. Latest package is here: https://www.nuget.org/packages/JunitXml.TestLogger/2.1.32

[2020-04-20 03:22] williamdenton commented on #12
Thanks, once again i really appreciate you maintaining this for the community! (do you do release notes?)

[2020-04-20 03:22] #12 closed

[2020-04-20 16:13] Siphonophora commented on #12
@williamdenton Yes, I will write up release notes here later today or tomorrow: https://github.com/spekt/junit.testlogger/releases

Edit: here is the update:
Resolved: https://github.com/spekt/junit.testlogger/releases/tag/v2.1.32

[2020-04-20 17:28] Siphonophora commented on #18
Resolved: https://github.com/spekt/junit.testlogger/releases/tag/v2.1.32

[2020-04-20 17:28] #18 closed

[2020-04-20 17:28] Siphonophora commented on #17
Resolved: https://github.com/spekt/junit.testlogger/releases/tag/v2.1.32

[2020-04-20 17:28] #17 closed

[2020-04-20 17:28] Siphonophora commented on #16
Resolved: https://github.com/spekt/junit.testlogger/releases/tag/v2.1.32

[2020-04-20 17:28] #16 closed

[2020-05-09 10:47] IloSophiep opened #22 "Capture StdOut from Console.WriteLine calls"
#### Context
At work we've recently switched a selenium project form .NET Framework to .NET core and are using `dotnet test` to execute the tests. Since we're using gitlab CI we needed a junit report, so we used this package's logger and in theory it works great.

The only problem, why we've "had to" switch to a combination of "**trx logger + trx2junit**" is, that we use `Console.WriteLine(...)` q

[2020-05-09 17:34] Siphonophora commented on #22
@IloSophiep Yes, I added this to the gitlab docs, glad it was helpful.

I'm happy to dig into this in the next couple day. Were using the same integration with dotnet test as the trx logger, so I expect this would be straight forward.

My intuition here is that the proper role of this library is to put the standard out into `system-out` in the xml and not write it to the console, but let me think

[2020-05-09 19:08] IloSophiep commented on #22
Like i tried to say in the initial post, that would be good enough for us for sure! That's also what we currently do with the TRX logger. We take the TRX report and declare it as an artifact for download if we need to check the test logging. We also take the TRX report and convert it to a junit XML report, so we can use parts of the gitlab web UI for displaying failures.

If it is of any help, i c

[2020-05-10 18:53] Siphonophora commented on #22
@IloSophiep An example would be great.

[2020-05-11 17:14] IloSophiep commented on #22
OK, i tried to prepare some example files.

I've added a **[example-files.zip](https://github.com/spekt/junit.testlogger/files/4611066/example-files.zip)**, which contains:
*  a **peter.trx** file, after running `dotnet test --logger "trx;LogFileName=peter.trx" --filter ClassName=ExampleTests.BaseTests`
* a **peter.xml** file, after running `trx2junit .\peter.trx`
* a *cmd-calls.txt*, which lists

[2020-05-11 17:38] Siphonophora commented on #22
@IloSophiep Great, looks like thats everything I need. Will let you know when there is a pre-release package for you to try.

[2020-05-13 14:00] Siphonophora commented on #22
@IloSophiep After looking at it some more, here is what I think makes sense to do.

1. The TRX format records the stdout per test, but Junit does not. Since it just stores one large blob of stdout for the whole run, we can split up that text by adding the test names.
1. I will modify the behavior of the `FailureBodyFormat=Verbose` flag so that it includes the stdout in the failure. This is mostly

[2020-05-15 13:54] Siphonophora commented on #22
@IloSophiep please give [pre-release 2.1.34](https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger ) a try.

I would suggest trying it like this to get output above in GitLab: `dotnet test --test-adapter-path:. --logger:"junit;LogFilePath=..\artifacts\{assembly}-test-result.xml;MethodFormat=Class;FailureBodyFormat=Verbose"`

[2020-05-18 09:33] IloSophiep commented on #22
We tested the preview today! To be honest: We struggled a bit with installing the pre-release and couldn't get it to work on our CI server, because of Nuget proxies - but we were able to test the changes locally at least and check the result XML.

The result looks good and pretty much like what we had hoped for. I only later realized that the junit format does not seem to support saving the stdout

[2020-05-19 02:09] Siphonophora commented on #22
@IloSophiep Agreed, JUnit doesn't store the output as cleanly as trx.

Give 2.1.36 a try. I added some indentation to try and clean up the output. I think its easier to read the output now.

[2020-05-19 17:59] IloSophiep commented on #22
Looks good to me, yeah. Three things:
* I was a bit surprised that the test case output is indented by three spaces - usually i would expect two or four
* When writing a test with a multiline logging for testing purposes i used `\n` to create a multiline output. That works in the "output window" in Visual Studio just fine, but does not create the indented result in your output. I checked your code

[2020-05-20 03:25] codito commented on #22
@IloSophiep @Siphonophora is below a fair statement on the logging scope?

1. Stdout and Stderr captured for each _test_ must be captured at the `testcase/system-out` and testcase/system-err` scope
2. Stdout and Stderr presented at the _test run_ scope (excl. above) should be captured at the `test-suite/system-out` and `test-suite/system-err` scope

Now test run can include multiple assemblies, so

[2020-05-20 13:56] Siphonophora commented on #22
@codito I double checked and the schema I am using for Junit https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd includes only 1 level of system-out and system-err, at the test-suite level. So, I'm accumulating all the standard out to the test-suite level. That's why I included the command line flags to include test specific error messages in the `failure` body. I think the schema mean

[2020-05-20 15:00] codito commented on #22
Here's the junit xsd which led me to believe that there are 2 levels of system-out: https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/resources/jenkins-junit.xsd

Any idea if this xsd is supported by gitlab? Which is the official one? Or we need to support both?

We can combine all outputs to the test-suite scope, not sure if that will help the user a lot since they need to

[2020-05-20 15:06] codito commented on #22
From a quick search, it appears gitlab may be supporting `test-case/system-out` (see https://docs.gitlab.com/ee/ci/junit_test_reports.html#viewing-junit-screenshots-on-gitlab). I don't have a gitlab ci handy. Will wait for someone to confirm.

[2020-05-20 21:54] Siphonophora opened #24 "Add Logo to nuget"
Add spekt logo to nuget.

[2020-05-20 22:35] Siphonophora commented on #22
Agreed. Logo is now #24

Picking which xsd to support was pretty difficult when this was getting started. I couldn't find anything that looked like a solid standard and left the disclaimer in the docs. We had an issue  #16 before about producing xml that didn't validate against a particular xsd. We are now validating against the schema in our docs during the unit tests. Switching to the Jenkins sc

[2020-05-21 01:43] codito commented on #22
@Siphonophora thanks for the investigation!

Makes sense. Let's move ahead with (2). We will come back to (1) as needed in future.

From https://github.com/spekt/junit.testlogger/issues/22#issuecomment-631489979

This is true for `dotnet test`. It forks new processes for each project. However, the underlying vstest platform can run multiple assemblies together. E.g. `dotnet vstest a.dll b.dll` or

[2020-05-22 13:07] Siphonophora commented on #22
@codito After a little more digging, the Junit team has a long running issue related to creating a new xsd. https://github.com/junit-team/junit5/issues/373 Also, the Jenkins schema was added to that project 4 years ago, so it isn't exactly new.

Agreed, if it can run in parallel it will need some locking, or maybe one of the concurrent collections to make that safe.

I will push resolutions to you

[2020-05-22 22:06] Siphonophora opened #25 "Plan for Parallel test support"
Thoughts from #22 and #23

1. The logger isn't built to support parallel test runs.
1. Instance members that store test output need to be re-thought, or at least locking needs to be added.
1. Parallel runs will likely require additional tests against internal members that respond to test events.

[2020-07-08 02:43] darrylmelander opened #28 "testsuite's hostname should be the machine name, not the executor"
We do examine this attribute from time to time (we use our own test infrastructure rather than gitlab or github in some cases).

[2020-09-06 13:41] #24 closed

[2020-09-12 16:28] jdelucaa commented on #22
Hey guys,

I'm looking forward for this feature, I need the standard output to be printed out in the xml file just like the [xunit testlogger](https://github.com/spekt/xunit.testlogger) does.
I couldn't find the pre-release version to test this one out, is that currently available?

[2020-09-14 13:17] Siphonophora commented on #22
@jdelucca Here is the newest package from Pull #23. If you do try it, please let us know how it behaves.

https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/2.1.40

[2020-09-14 16:52] IloSophiep commented on #22
I got a bump about this issue, thanks to your comments.
Is there anything i am expected to (or can) help with?

To be honest: For now we're still just using the workaround with trx2junit in our CI - that said, i don't want to apply any pressure on how fast this point needs to be resolved. If a proper solution needs time, i won't complain.

[2020-09-15 12:27] Siphonophora commented on #22
@IloSophiep I have been thinking a bit about the status of the PR. I'm pretty confident we are getting all the stdout and stderr into the xml report with these changes. I'm less confident we have the 'ideal' format for that text within the xml. Given that we know the xml is still compliant with the spec and the stdout is for human review, my thought is we could safely make any change to the format

[2020-09-15 14:27] jdelucaa commented on #22
Hey @Siphonophora ,

Thanks for the quick response. I tested it and it's exactly what I was looking for, one suggestion would be to write the output right after each test, like the xunit logger does, but it would be just an improvement, this already looks good. :)

About my CI setup:
All my services are based on junit xml format for the test results, I use them to publish the test results to Azure

[2020-09-16 13:03] Siphonophora commented on #22
@jdelucaa Thanks for the feedback. I think you may want this flag: `FailureBodyFormat=Verbose`. The junit format doesn't have a test level spot for stdout, but when a test fails we can add the stdout to the failure element. Unfortunately, for passing tests there isn't anywhere to put the stdout except at the end of the file.

[2020-09-17 20:13] jdelucaa commented on #22
@Siphonophora Ok, thanks.
Do you have plans to release this anytime soon?

[2020-09-18 13:13] Siphonophora commented on #22
@codito what do you think? I suspect it will be a while before we are ready to roll out the core package, so I don't think we should wait for that. I think this is in good shape and could be released with #27 (which needs a minor change) fairly soon.

[2020-09-19 02:49] codito commented on #22
@Siphonophora :+1: let's roll this out fast to unblock everyone.

[2020-09-21 00:40] #22 closed

[2020-09-23 12:22] #28 closed

[2020-09-27 15:42] Siphonophora commented on #28
@darrylmelander This has been released in https://github.com/spekt/junit.testlogger/releases/tag/v2.1.78

[2020-09-27 15:42] Siphonophora commented on #22
@IloSophiep @jdelucaa This has been released in https://github.com/spekt/junit.testlogger/releases/tag/v2.1.78

[2020-10-01 11:48] moly opened #30 "methodformat always includes namespace and class name regardless of setting"
I'm using junit.testlogger 2.1.32 and dotnet 3.1.402.

I have a test class called `LayerConverterTest` in a directory `test/MyProject.Test/Json`. It's namespace is `MyProject.Test.Json`

If I run `dotnet test --no-build --logger:"junit;LogFilePath=..\artifacts\{assembly}-test-result.xml;MethodFormat=Default;FailureBodyFormat=Verbose"`

The resulting report wrongly includes the full namespace and c

[2020-10-01 12:51] moly opened #31 "warning about configuration 'TargetFramework'"
Every time I run `dotnet test --logger:"junit"` I get this warning in the output:

[code]

using dotnet 3.1.402

[2020-10-05 13:55] Siphonophora commented on #31
@moly Hi. We are alerting on any command line args that are not defined / expected by this logger. `TargetFramework` must be coming from the test runner. So, its safe to ignore.

We are looking at changing how these args are handled, so this may be removed in the future.

[2020-10-07 22:03] Siphonophora commented on #30
@moly I couldn't repo this so far and I probably need more detail.

First, could you confirm you are on 2.1.78. `<system-out>Junit Logger does not log standard output</system-out>` should be a prior version.

Assuming that doesn't help, I think a csproj file and a test class would help a lot. I'm wondering if the reason I couldn't repo this is due to your exact framework / dependencies. Also, I ha

[2020-10-08 09:41] moly commented on #30
@Siphonophora
I've updated to 2.1.78 and still get the same issue. I've pushed a sample project here: https://github.com/moly/junitrepro

The project was created with the latest dotnet using `dotnet new xunit`. There aren't any dependencies other than xunit and the junit logger.

If I run `dotnet test --logger:"junit;LogFilePath=..\artifacts\{assembly}-test-result.xml;MethodFormat=Full;FailureBody

[2020-10-08 22:57] Siphonophora commented on #30
@moly Great. I will take a look.

[2020-11-24 20:19] gitfool commented on #31
Meanwhile, this should actually be expected by the logger, so it should be added to the list of [known keys](https://github.com/spekt/junit.testlogger/blob/bf1649ea44300c02c69627a6a97d10b02590caea/src/JUnit.Xml.TestLogger/JUnitXmlTestLogger.cs#L181).

Commands observed with Sysinternals [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon):
[code]
Confirmed by looking

[2021-01-05 19:04] Siphonophora commented on #31
@gitfool @moly @alexpizarroj Apologies for the delay, work has been crazy. I'm happy to get rid of this warning for now. The pre-release version is here. https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/2.1.81

@codito I tested this and it resolves the nuisance warning. Could you cut a release when you have a minute?

[2021-01-06 01:00] codito commented on #31
Wish you all a very happy new year! Just pushed `2.1.81` to nuget. @Siphonophora we can now create a github release with changelog.

[2021-01-06 01:12] Siphonophora commented on #31
Thanks @codito. Happy New year!

The release notes are done. Thanks again everyone.

[2021-01-06 01:12] #31 closed

[2021-01-29 11:07] IshakAtLEGO commented on #30
Any updates on this?

[2021-01-31 06:02] codito commented on #25
This can be closed when we move to the core testlogger. It already supports concurrency for message and results store.

[2021-01-31 15:18] Siphonophora commented on #30
Hi, were working on the v3 release now, and I will take a look at this as part of that release

[2021-04-10 16:42] #13 closed

[2021-04-12 19:23] thj-dk opened #34 "Indicate framework in produced xml file"
I have a xUnit test project with multiple TargetFrameworks (netcoreapp3.1 and net471), and I'm generating multiple test results files using `LogFilePath={assembly}-{framework}.xml`.

However, when importing these files using Jenkins JUnit plugin, the framework information is lost and we're unable to differentiate between test execution frameworks.

Do you know of any workaround? Maybe an option th

[2021-04-12 23:10] Siphonophora commented on #34
Hi @thj-dk

Sounds like their plugin is looking at the `TestSuite Name` element when grouping or labeling results?

I think a config flag would probably be the right way to go. Let me think about the cleanest option, but that wouldn't be difficult.

![image](https://user-images.githubusercontent.com/32316111/114472859-177d1980-9bc1-11eb-9f04-ccb7ee40997d.png)

You may have noticed we have a page e

[2021-04-13 06:12] holm-dk commented on #34
I have made some verification, and it turns out that the grouping is a combination of TestSuite name and package, and TestCase name from what I can see. So some way of prefixing both would be desired.

I also found a different bug. The time attribute of the testcase element has a incorrect decimal separator that isn't understood by Jenkins `time="0,0035817"` where the testsuite element has the cor

[2021-04-13 13:13] Siphonophora commented on #34
To clarify, when you say both, do you mean TestSuite name and package? Maybe a short example file would be good.

For the comma vs decimal, that's clearly a Culture issue. Do you know if the culture these are running under is "da-DK"? I can try to repo and get this fixed.

[2021-04-13 14:11] holm-dk commented on #34
In order to make everything show up correctly in Jenkins (we're using an older version here - 2.46), I have to prefix TestSuite name and package attributes with framework name (e.g. NETCoreApp31 and NETFramework471).

The server culture is either da-DK or nb-NO, so in that regard, the comma decimal separator is correct. However I do not think that Jenkins understands that - only period. I do belie

[2021-04-13 14:24] Siphonophora commented on #34
That makes sense. I will let you know when there is a preview version for you to try

[2021-04-14 09:57] holm-dk commented on #34
I made some further experiments, and it turns out that specifying the testsuite name is actually enough for Jenkins to interpret the test files correctly.
I've made a powershell script that modifies the generated files and sets the testsuite@name to the executing framework.

Then the tests shows up in Jenkins as e.g. `AssemblyName.dll.NETFramework471`

So I guess that an options for specifying the

[2021-04-17 17:44] Siphonophora opened #36 "Gitlab docs / recomendations"
Following #34 verify if this is an issue for gitlab.

Tidy up the docs if needed, remove the test adapter cli option which isn't needed. Update the example on gitlab

[2021-04-17 18:15] Siphonophora opened #37 "CircleCI Recommendations"
We are looking for help adding platform specific recommendations (if any), screenshots, and examples for CircleCI which are similar to those here. https://github.com/spekt/junit.testlogger/blob/master/docs/gitlab-recommendation.md

[2021-04-17 18:17] Siphonophora opened #38 "Jenkins Recommendations"
We are looking for help adding platform specific recommendations (if any), screenshots, and examples for Jenkins which are similar to those here. https://github.com/spekt/junit.testlogger/blob/master/docs/gitlab-recommendation.md

[2021-04-18 16:27] Siphonophora commented on #34
@thj-dk  I added a command line flag `TestSuiteFormat=AddFramework` to address the mult-targeting issue. The pre-release version is here: https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/3.0.93

[2021-04-19 06:52] holm-dk commented on #34
@Siphonophora That is great, thank you so much. We can definitely make great use of this.

However, did you consider just making an option for specifying the test-suite name directly? It doesn't have to contain the full assembly name. I think there could be many uses for setting this property to something entirely different, when one needs to be running tests in multiple contexts/environments etc.

[2021-04-19 22:14] Siphonophora commented on #34
@thj-dk The other option I thought about was to give an option where the file name would be used for the Test Suite name.

I thought `dotnet test --logger:"junit;LogFilePath={assemblyname}.{framework}.xml;TestSuiteName={assemblyname}.{framework}.xml" ` would be a bit cumbersome or even confusing if they ended up out of sync.

I wouldn't mind an option like this: `dotnet test --logger:"junit;LogFil

[2021-04-20 09:07] holm-dk commented on #34
I cant really figure out what the intended format here is... I'm not entirely sure that the file name has to be part of the test suite name? I haven't found any documentation describing that as a requirement. The `testsuite@package` attribute contains the name of the assembly file. The tests are easily identifiable through this and the `testcase` element.

In Jenkins UI, the tests are grouped by:

[2021-04-21 10:16] pete-thompson opened #40 "Attachments not attached"
Forgive me if I've missed a configuration option for this, but I can't see any code to handle attachments so think I'm accurate.

I'm using MSTest and making use of the AddResultFile method to attach files to my test cases. I'd like those files to be included in the junit test results - it appears that the closest thing to a 'standard' is the Jenkins plugin which is also supported by GitLab: https

[2021-04-21 10:19] pete-thompson opened #41 "Include stdout for tests that pass"
When a test passes there is no way to include the <system-out> messages for that test in the <testcase> element. It would be helpful if there were a configuration option to enable verbose messaging on successful tests.

[2021-04-21 23:16] Siphonophora commented on #41
@pete-thompson Hi, are you not seeing the messages in std output here https://github.com/spekt/junit.testlogger/blob/master/docs/assets/TestResults.xml#L98-L102 ?

Some of the GUIDs from this example file came from a passing test https://github.com/spekt/junit.testlogger/blob/master/test/assets/JUnit.Xml.TestLogger.NetCore.Tests/UnitTest1.cs#L14-L15 so I would expect std out to be there.

In the j

[2021-04-21 23:35] Siphonophora commented on #40
@pete-thompson  you are right this isn't something we currently are supporting. I just spent a few minutes looking at the docs, and its a little confusing. I guess GitLab is working with a different schema than we are.

I think the absolute path is probably relative to the root of the repository. Probably not too hard to experiment.

So I understand better, what is the distinction between an artif

[2021-04-22 15:06] Siphonophora commented on #34
@thj-dk I didn't mean the file name and test suite name needed to be the same. I was thinking we might be simpler if we had an option for them to be the same.

For the rest of your example, it looks like we need some more formatting options to make the report readable in Jenkins. Let me make up a little test suite we can use as an example, so we can look at the same xml output.

For my notes. You

[2021-04-23 13:06] pete-thompson commented on #41
Thanks @Siphonophora - I can see the stdout messages in the main section, but would ideally see them in the individual test cases. As far as I can tell the <system-out> and <system-err> elements are valid for any <testcase> element regardless of whether the test passes or fails. It's hard to tell where the Junit XML specification is, but I found this XML schema which seems to allow for system-out:

[2021-04-23 13:17] pete-thompson commented on #40
Thanks @Siphonophora . I'm successfully uploading the files as artifacts, but I'd like them linked to the individual test cases in the JUnit report so that I can figure out which attachment goes with which test case.

In my particular situation I have a test case that's data driven - meaning that I'm running around 50 different tests under the same test name. I'm generating screenshots as attachme

[2021-05-17 19:49] hoppities opened #42 "Gitlab CI number of tests is wrong"
Version="2.1.81"

**Edit**: I updated to the latest version and have the same issue.

[code]
This is my test step for GitLab CI, and I have tests set up with MSTest that use parameters.

[code]

The results, however, don't show the parameters that are passed in, so they get combined into one test by Gitlab.
[code]

Expected Result: The name of the testcase will include the parameter values like th

[2021-05-21 00:27] Siphonophora commented on #42
Hi, I can do some testing with MSTest, which I think may behave differently from other frameworks with regard to test data.

Based on the name of the ticket, I gather you are also seeing the issue we have here #15. There is an underlying issue with how gitlab counts tests. If that is part of what you are seeing it wouldn't hurt to upvote the gitlab issue https://gitlab.com/gitlab-org/gitlab/-/issu

[2021-05-21 00:36] hoppities commented on #42
Yes, I'm seeing that. I'll go upvote that and ask my coworkers to do the same :)

[2021-05-25 18:10] Siphonophora commented on #42
@hoppities MSTest is, in fact, behaving differently from xunit and nunit in this regard. This impacts all our loggers, so I will fix this in the core logger, under issue https://github.com/spekt/testlogger/issues/20

[2021-05-28 15:21] Siphonophora commented on #41
@pete-thompson Based on the ticket above, it seems like the jenkins schema is the most official one.

@AnashOommen I know its been a while but I recall you were doing a strict validation of the output of our reports against the Ant unit schema. Are you in a position to change that schema to the jenkins one linked above, or would adopting the different schema break your system?

So, this will take

[2021-06-06 12:43] CoskunSunali commented on #30
Currently struggling with the same issue. I'm on version 3.0.98

[2021-07-03 15:25] Siphonophora commented on #30
@moly, @CoskunSunali, @IshakAtLEGO

Are all of you using xUnit? The repro that moly provided, did give an example of MethodFormat not working correctly.

On mstest we are getting the expected behavior:

[code]

[2021-07-04 16:59] CoskunSunali commented on #30
@Siphonophora I’m using xUnit.

[2021-07-05 06:09] ishakf commented on #30
I am also using xUnit.

[2021-07-26 17:38] Siphonophora commented on #30
@CoskunSunali @ishakf

We have a fix for this published on MyGet https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/3.0.102 If you get a chance to test it, let me know if this resolves your issue.

[2021-07-27 07:47] IshakAtLEGO commented on #30
This has fixed the issue. I assume that this will be available on Nuget as well?

[2021-07-27 17:25] Siphonophora commented on #30
Great.

Yes it will. I have a fix for one other issue that's about to get merged, and we will release both together. I will comment here when its on NuGet

[2021-07-27 20:26] Siphonophora commented on #42
@hoppities I just published a fix for this to myget https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/3.0.104  If you have time and can test it, let us know. I did run a test shown below.

v3.0.98
[code]

MyGet preview version 3.0.104 https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger/3.0.104
[code]

[2021-07-27 20:38] Siphonophora commented on #42
@codito Two things:

* Between #45 and #46, I'm feeling like we might want acceptance / unit testing across multiple test frameworks. Currently we just use Nunit, and those two pull requests were fixing Xunit and MSTest issues respectively. I just realized this issue on mstest was actually a regression vs the v2 logger, we didn't have any way to catch it. What do you think?
*  I did manual accepta

[2021-07-27 21:02] hoppities commented on #42
@Siphonophora We'll get this updated to the preview and let you know what happens. Thanks!

Edit: We tested this, and it's now displaying tests correctly. We're seeing the parameterized tests show up now rather than being grouped by the test method name.

[2021-07-27 21:12] Siphonophora commented on #42
@hoppities Thanks for the confirmation. I will keep this open till this is published on NuGet.

[2021-09-03 15:20] mclayton7 commented on #41
@Siphonophora would you accept community contributions for putting stdout into tags for each test case a la @pete-thompson's suggestions above?

[2021-09-04 20:03] Siphonophora commented on #41
Hi @mclayton7,

Yes we would be happy to. I do think the right answer here is to swap out `https://github.com/spekt/junit.testlogger/blob/master/test/assets/JUnit.xsd` for the jenkins version and then go ahead with the changes.

Note our Nunit logger does this sort of logging at the test level, see https://github.com/spekt/nunit.testlogger/blob/7d302a3391f0eae699277dd678daa0dffb8b14d7/src/NUnit.Xm

[2021-09-04 23:00] mclayton7 commented on #41
@Siphonophora thanks! We use the `NUnitXmlTestLogger` for our CI setup, but I'd like to switch to the JUnit logger for better GitLab integration. What's holding us back is that we have some scripts parsing stdout from individual tests with the NUnit version, this will let us switch.

I'll try to make the change stay within the spec and match what the NUnit logger is doing.

[2021-11-26 10:24] spoilerdo opened #48 "NUnit Description option for Junit test reports"
Hiii, I have the following question:
Is it possible to have the NUnit descriptions available in a Junit test report as name?
This would be cool to have as an extra option in the CLI.

[2021-11-26 14:50] Siphonophora commented on #48
I do think this is possible, but I don't think we would want to substitute the description for the name. For a parameterized test, we would loose the parameter info which is needed to point uniquely to the case. So that isn't an option.

So a best case might be something like `name="TestMethodName(1, true) 'Description of the test'"`.  I think this would often be awkwardly long, but whether or not

[2021-11-26 15:23] martijndormans commented on #48
nice to have

[2021-12-03 02:20] BottlecapDave commented on #42
Is there an update on when we might see this released? I've also been hit by this issue.

[2021-12-04 21:12] Siphonophora commented on #42
@hoppities @BottlecapDave  This is released in 3.0.110

[2021-12-04 21:12] #42 closed

[2021-12-04 21:27] Siphonophora commented on #30
@moly this is on nuget now in 3.0.110.

[2021-12-07 08:06] BottlecapDave opened #50 "Member data not included in output name"
Hello.

I am currently getting a similar issue to https://github.com/spekt/junit.testlogger/issues/42. I thought originally it was the same issue, but after updating to the latest version (`3.0.110`) I'm still getting the issue. After reading the issue properly, I realised that my cause was slightly different.

Providing the following test in `xunit` (member data instead of static inputs)
[code]

[2021-12-26 06:33] hach-que commented on #50
I'm also impacted by this; it looks like it doesn't detect the xunit theory parameters when emitting the `name` in the test results. Reverting to older versions does not fix it.

This then causes issues with GitLab counting test results, as mentioned in here: https://github.com/spekt/junit.testlogger/issues/42#issuecomment-845568248

[2022-02-01 09:23] tamaramironov commented on #30
Hello!

I am wondering if it was possible to add the old, "buggy" option back now😁

We've been publishing test reports generated by junit.testlogger to our requirements management software (RMS). The integration was based on test case name and is now broken with the latest upgrade. How it's used to work:

[code]

Testlogger used to produce the following result that was parsed by our RMS
```<testca

[2022-02-01 18:37] Hackmodford commented on #30
Update fixed the issue for me. I am using xunit as well.

[2022-02-01 18:40] Hackmodford opened #51 "Gitlab recommendation outdated?"
I think the gitlab recommendation might be outdated. This is what I see if I use `Default` and `Verbose`.

![image](https://user-images.githubusercontent.com/326668/152030347-448bd70b-2913-4723-8864-116889d3dc27.png)

![image](https://user-images.githubusercontent.com/326668/152030411-6d9de766-74ec-46ae-9acc-156facd85fd4.png)

[2022-02-01 18:46] Hackmodford commented on #51
Nevermind, the gitlab recommendation was not outdated. It was just a bug in the nuget.
https://github.com/spekt/junit.testlogger/issues/30

[2022-02-01 18:46] #51 closed

[2022-02-01 20:36] CoskunSunali commented on #30
@tamaratomilova Cannot you just use the `MethodFormat=Full` option?

[2022-02-01 21:08] tamaramironov commented on #30
Nope. As per readme, MethodFormat Full will add the assembly/namespace/class to the test method name, while I need the test method name to be populated from TestMethod attribute instead of the actual method name. Different thing.

[2022-02-02 23:55] Hackmodford commented on #50
I also just noticed this issue. It would be nice if the theory data was in the test name.

[2022-05-11 13:48] chaintng opened #53 "Need test name to include parameter for Theory test case"
![image](https://user-images.githubusercontent.com/2979072/167865136-003c316b-57e3-4e81-a5b7-712815e5d39a.png)

C# support `Theory` test case
https://docs.microsoft.com/en-us/dotnet/core/testing/unit-testing-with-dotnet-test#add-more-tests

That has parameter in the test function

This should include in the test name
Otherwise, it will show the same test case for all parameter

I tried to look int

[2022-05-16 14:16] Siphonophora commented on #53
@chaintng Hi. This is actually going to be in our next release. You can use the feature in the preview package on our MyGet feed. https://www.myget.org/feed/spekt/package/nuget/JunitXml.TestLogger

[2022-05-17 10:51] chaintng commented on #53
@Siphonophora how can i see the source code? Could you please advise which parameter should i gave to get this output ?

[2022-05-17 12:56] Siphonophora commented on #53
Most of the source is in another repo. You are probably interested in this file: https://github.com/spekt/testlogger/blob/master/src/TestLogger/Extensions/XunitTestAdapter.cs

The theory data should be there by default now, with the version in MyGet. If that isn't working, please provide an example I can look at.

[2022-05-18 13:06] Siphonophora commented on #53
@chaintng Actually, we just released that package to nuget, so you don't need to get it from MyGet.

[2022-06-24 15:00] mark-monteiro opened #54 "Release v3.0.114"
A new release has been published on NuGet with version v3.0.114, but there has been no associated release in GitHub or release notes added anywhere. There is also no tag for this version added to the repository to indicate what commits are included in the release.

Without a proper release being performed, it is not possible to update to the latest version of the package confidently.

[2022-06-25 15:34] Siphonophora commented on #54
@mark-monteiro Thanks. I totally forgot. Added the release.

[2022-06-25 15:34] #54 closed

[2022-07-08 08:30] maximusmp opened #55 "Run tests from VS TestExplorer"
Hello!

I'm using your library via a .runsettings file in VS 2022 to specify the Logger.
If I run the Unit Tests by using command "dotnet vstest" and specifying the settings file everything runs perfectly, but if I use TestExplorer to run the same tests (after setting the same runsettings file from menu "Test->Configure Run Settings") I have some problems with the report, e.g.: the timestamp is al

[2022-07-08 08:52] maximusmp commented on #55
Just adding a note: the same issue also happens if I specify the "Tests" parameter from the command line.

Examples:
"dotnet vstest .\UnitTestProject1.dll /Settings:test.runsettings"    works
"dotnet vstest .\UnitTestProject1.dll /Tests:TestMethod2 /Settings:test.runsettings"    does not work.

[2022-07-10 17:10] codito commented on #55
@maximusmp thank your for reporting this! What is the test framework (mstest/xunit etc.) used for UnitTestProject1.dll?

@Siphonophora IIRC the `/tests` argument might be invoking a different execution path for the unit tests, this is adapter specific. It may be a good idea to repro this in testlogger first.

[2022-07-11 07:05] maximusmp commented on #55
Hi,

the test framework for the project is MSTest, but I tried with a test which uses xUnit and the result was the same.

[2022-07-14 14:00] Siphonophora commented on #55
Did a quick repo on one of my own projects to start. I was able to repo these using both the `test.runsettings` and command line.

* Only when including the `/Tests` filter do these happen:
    * I see the timestamp issue when running `dotnet vstest .\TestLib.dll --logger:"junit;" /Tests:Load`.
    *  No logged file `dotnet vstest .\TestLib.dll --logger:"junit;LogFilePath=TestResults/{assembly}.{f

[2022-07-27 16:48] CenturySparkle opened #56 "More Than One Test Project Per Solution"
My team has several solutions with multiple test projects each.  It seems that JUnitTestLogger only outputs the results for the last test project ran.  Not all of them.  This means that a lot of our tests don't get reported which skews our test results charts.

[2022-07-27 16:49] #56 closed

[2022-08-15 10:00] tamaratomilova opened #57 "Option to publish test name as published by framework"
MethodFormat option to publish test name as published by framework

This used to be a default option, however it was removed while resolving another issue. Described in detail [here ](https://github.com/spekt/junit.testlogger/issues/30#issuecomment-1026632043)

[2022-09-09 06:48] Paciv commented on #38
When trying to submit JUnit files emitted by this logger to jenkins I found the folowing problems:
- Jenkins xUnit plugin doesn't support more than 3 decimal places for time attribute values
- This logger merge the standard-output stream in one <system-out> tag at the testsuite level and doesn't split by testcase.
   -> this makes jenkins repeat the system-out content on each test case of the test

[2022-09-18 17:01] Siphonophora commented on #50
This should be resolved as of [3.0.114](https://github.com/spekt/junit.testlogger/releases/tag/v3.0.114)

[2022-09-18 17:01] #50 closed

[2022-11-01 01:43] Alikont opened #59 "Illegal xml characters in data to be logged block log creation"
Hello, I'm trying to use junit test logger for building and uploading results from inside `dotnet/sdk:6.0` container.

When I run test command

[code]

Tests are run but no `test-result.xml` file is created.

It works fine if run from Windows

When I run it with `-d diag.log` and inspect log file I've noticed strange exception related to junit logger

[code]

My csproj packages

[code]

[2022-11-06 15:16] Siphonophora commented on #59
i was able to repro this on windows. `0x1F` isn't legal in xml, so I assume it must not be sent to the logger when you run tests on windows.

After some reading, it doesn't look like the standard library provides an option to escape characters that aren't legal. I'm not sure how we would want to do that. @codito  thoughts?

[code]

[code]

[2022-11-09 10:29] RehanSaeed opened #60 "Test Logger Does not Respect LogFilePrefix"
When I run:

I expect to see a file output with the name: `Foo_net7.0_20221109102716`, instead what I get is `TestResults.xml`

[2022-11-09 14:07] Siphonophora commented on #60
Hi,

There are some options to control the log file name, detailed here https://github.com/spekt/testlogger/wiki/Logger-Configuration.

We don't support `LogFilePrefix`

[2022-11-09 14:16] RehanSaeed commented on #60
I'm aware of those options. `LogFilePrefix` is a new feature that was recently added to dotnet test. I thought it would be a good idea for [junit.testlogger](https://github.com/spekt/junit.testlogger) to provide feature parity.

[2022-11-09 21:59] Siphonophora commented on #60
Oh, I see. Your original comment read like a bug report to me, not a feature request.

Current state, supporting the prefix wouldn't be meaningful, because our default file name is static: `TestResults.xml`. So if a user wants any name other than the default, they are supplying the whole file name anyway.  Changing the default would be a breaking change for many users, so its a no-go.

The actual

[2022-11-10 09:15] RehanSaeed commented on #60
`LogFilePrefix` as opposed to `LogFileName` is a new setting, so adding support for it wouldn't be a breaking change and would bring it in line with the trx and html loggers.

[2022-11-30 01:35] Siphonophora commented on #59
@Alikont I'm still not sure how we would approach fixing this. Do you think its going to be a persistent issue?

[2022-11-30 01:38] Siphonophora commented on #60
I've been thinking about this and I don't think this makes sense for our loggers. The main reason being we aren't generally trying to follow the trx / html logger conventions.

[2022-11-30 01:38] #60 closed

[2022-11-30 01:42] #53 closed

[2022-11-30 01:47] Siphonophora commented on #40
Was just looking at https://github.com/spekt/nunit.testlogger/issues/54 which is related. They would both depend on the core logger capturing attachment info to enable this feature.

[2022-11-30 01:48] Siphonophora commented on #55
Closing as inactive

[2022-11-30 01:48] #55 closed

[2022-11-30 01:50] #25 closed

[2022-11-30 08:43] Alikont commented on #59
The XML writer just checks the character code as invalid

https://source.dot.net/#System.Private.Xml/System/Xml/Core/XmlEncodedRawTextWriter.cs,1107

So there is not a lot that can be done on XML side of things.

The more interesting question is how this character even appears in the data, maybe it's better to escape/filter them on the emitter side of things? Maybe some stdout input generates some